/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 150px;
    font-family: "Amatic SC";
    margin: 0px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3 100px);
    gap: 5px;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10%;
    background-color: aliceblue;
    font-family: "Finger Paint";
    display: flex;
    justify-content: center; 
    align-items: center;   
    font-size: 10vmin; 
    line-height: 1;
    padding: 0;
}